<div class="row">
    <div class="container">
      <div class="logo">
        <img src="../../../assets/APLogo.png" alt="" id="LogoArg">
      </div>  
      <div class="redes">
        <div>
            <a href="https://www.linkedin.com/in/ezequielsgaramello/"> <img src="../../../assets/linkedin.png" alt=""></a>
            <a href="facebook.com/EzequielSgaramello"> <img src="../../../assets/facebook.png" alt=""></a>
            <a href="https://www.instagram.com/eze_keko/"> <img src="../../../assets/instagram.png" alt=""></a>
            <a href="https://github.com/EzequielSgaramello"> <img src="../../../assets/github.png" alt=""></a>
            <button type="button" class="btn btn-outline-info">LOGIN</button>
            
        </div>
        
      </div>
    </div>
</div>



