<div class="row">
    <h1>Hard y Soft skills</h1>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../../../assets/html.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [title]="'HTML'"
        [titleColor]="'red'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1000"
        [startFromZero] = "true"
        ></circle-progress> 
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../../../assets/js.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [title]="'HTML'"
        [titleColor]="'red'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'yellow'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1100"
        ></circle-progress> 
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../../../assets/CSS.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [title]="'HTML'"
        [titleColor]="'red'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#4A55FE'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1200"
        ></circle-progress> 
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="20"
        [radius]="100"
        [imageSrc]="'../../../assets/eng.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [title]="'HTML'"
        [titleColor]="'red'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'black'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1100"
        ></circle-progress> 
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="99"
        [radius]="100"
        [imageSrc]="'../../../assets/grupal.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [title]="'HTML'"
        [titleColor]="'red'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1400"
        ></circle-progress> 
    </div>  <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="99"
        [radius]="100"
        [imageSrc]="'../../../assets/git.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [title]="'HTML'"
        [titleColor]="'red'"
        [titleFontSize]="'3em'"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'black'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1500"
        ></circle-progress> 
    </div>
    <!-- You can now use it in app.component.html -->

