<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Imagen1.png" class="img_fluid" alt="">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p>Ezequiel Martin Sgaramello</p>
        
        <p>Full Stack Developer Jr</p>
    </div>
    <div  class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Soy un apasionado por la Informática desde pequeño y con el pasar de los años he intentado capacitarme para así crecer en este rubro tan extenso, en la actualidad busco desarrollarme como programador y poder formar parte de una compañía
                donde pueda demostrar mis
                aptitudes,habilidades y conocimientos.
                </p>
        </span>
    </div>
</div>