<div class="row">
    <h1>Proyectos Realizados</h1>
<div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h1>https://github.com/EzequielSgaramello</h1>
        <p> Me encuentro realizando integradores de diferentes cursos FULLSTACK ademas de paginas web que hice en otra cuenta de github.</p>
    </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-4 offset-lg-1 parte2 "> 

       <img src="../../../assets/git.png" alt="" class="img">
    </div>
</div>
</div>