<div class="row">
  <h4>Educacíon:</h4>
  <div class="col-lg-l1"></div>
  <div div class="col-lg-11">
    <ul>
      <li>
        <h1>Universidad Nacional de Moreno INGENIERÍA ELECTRÓNICA</h1>
        <h2>(2022-En curso)</h2>
      </li>
    </ul>
    <ul>
        <li>
          <h1>#NUCBA Programación FULL STACK </h1> -
          <h2>(Marzo 2022-En curso)</h2>
        </li>
      </ul>
      <ul>
        <li>
          <h1>#YoProgramo</h1> -
          <h2>(Marzo 2022-Septiembre 2022)</h2>
        </li>
      </ul>
      <ul>
        <li>
          <h1>#Sépgoramar</h1> -
          <h2>(Septiembre 2021-Diciembre 2021)</h2>
        </li>
      </ul>
      <ul>
        <li>
          <h1>Red Hat System Administration I </h1> -
          <h2>(Agosto 2021-Noviembre 2019)</h2>
        </li>
      </ul>
      <ul>
        <li>
          <h1>Colegio San Francisco De Asis</h1> -
          <h2>Egresado 2019 | Bachiller en Ciencias de la Comunicación</h2>
        </li>
      </ul>
  </div>
</div>
